<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<main role="main" class="container">
    <h2>User Management Page</h2>

    <div class="row col-md-12">
        <div class="row col-md-12">
            <div class="col-md-1">Name</div>
            <div class="col-md-1">Surname</div>
            <div class="col-md-2">Email</div>
            <div class="col-md-2">Phone number</div>
            <div class="col-md-5">Service</div>
            <div class="col-md-1">Actions</div>

        </div>
        <div class="row col-md-12" th:each="employee,iter : ${employees_list}">
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-1" th:text="${employee.getName()}"></div>
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-1" th:text="${employee.getSurname()}"></div>
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-2" th:text="${employee.getEmail()}"></div>
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-2" th:text="${employee.getPhoneNumber()}"></div>
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-5" th:text="${employee.getEmployeeServices().getServiceTypes().iterator().next()}"></div>
            <div th:if="${employee.getEmployeeServices() != null}" class="col-md-1">
                <a th:href="@{'/employeeUpdateForm/' + ${employee.getId()}}" class="button">Edit Emp.</a>
                <a th:href="@{'/employeeRemove/' + ${employee.getId()}}" class="button">Remove Emp.</a>
            </div>
         </div>
        </div>
    </div>
</main>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>