<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<!--i18n-->
<th:block th:include="template :: navigator"/>
<th:block th:include="template :: message"/>
<main role="main" class="container">
    <h1 class="table-head-title">Register choice</h1>

    <a th:href="@{/clientRegisterForm}" class="button">Client Registration </a>
    <a th:href="@{/employeeRegisterForm}" class="button">Employee Registration </a>
    <a th:href="@{/meetingForm}" class="button">Add Meeting </a>


</main>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>