<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>ELSAFE - Home</title>
    <meta name="description" content="Wireframe design of a landing page by Pingendo">
    <meta name="keywords" content="safe elsafe security office renting finance">
    <meta name="SWIETONE" content="SWIETONE">
</head>

<body>
<th:block th:include="template :: navigator"/>
<div class="h-50 d-flex align-items-center bg-info"
     style="	background-image: url(static/css/header.jpg);	background-position: center;	background-size: 100%;	background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center col-md-6">
                <h1 class="display-1 text-white">ELSAFE</h1>
                <p class="lead text-light">Kompleksowa pomoc w zakresie prowadzenia działalności oraz spółek z
                    organiczoną odpowiedzialnością.</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-8">
                <h1 class="mb-3">I lie close to the earth, a thousand unknown plants are noticed by me.</h1>
                <p class="lead">When, while the lovely valley teems with vapour around me. </p>
            </div>
        </div>
    </div>
</div>
<div class="text-center bg-secondary py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-3 mt-3 pt-3">I enjoy with my whole heart</h1>
                <p>Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and
                    absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I
                    could describe these conceptions, could impress upon paper all that is living so full and warm
                    within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-3">
                <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless
                    indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed
                    us in his own image, and the breath of that universal love which bears and sustains us.</p>
            </div>
            <div class="col-md-6 p-3">
                <p>And then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                    and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh,
                    would I could describe these conceptions, could impress upon paper all that is living so full.</p>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-moon.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-bubble-dark.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-moon.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-bubble-light.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-bubble-dark.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-moon.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-bubble-light.svg"></div>
            <div class="col-6 col-md-3 p-0"><img class="img-fluid d-block"
                                                 src="https://static.pingendo.com/cover-moon.svg"></div>
        </div>
    </div>
</div>
<div class="text-center bg-dark py-0 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-3">I enjoy with my whole heart</h1>
                <p>Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and
                    absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I
                    could describe these conceptions, could impress upon paper all that is living so full and warm
                    within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<div class="py-3 text-center bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 p-4"><i class="d-block fa fa-circle mb-2 text-muted fa-5x"></i>
                <h4><b>Księgowa</b></h4>
                <p>Martyna Nowak<br></p>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls
                    like mine. I am so happy, my dear friend.</p>
            </div>
            <div class="col-lg-5 col-md-6 p-4"><i class="d-block fa fa-circle-o mb-2 text-muted fa-5x"></i>
                <h4><b>Prawnik</b><br></h4>
                <p>Adam Małysz<br></p>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls
                    like mine. I am so happy, my dear friend.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-center">
                            <h3> Standard </h3>
                            <h2><b>259PLN</b></h2>
                        </th>
                        <th class="text-center">
                            <h3> Pro </h3>
                            <h2><b>459PLN</b></h2>
                        </th>
                        <th class="text-center">
                            <h3> Ultimate </h3>
                            <h2><b>559PLN</b></h2>
                        </th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mikro/Małe przedsiębiorstwa</td>
                        <td>Średnie firmy</td>
                        <td>Duże firmy i przedsiębiorstwa</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ograniczona ilość spotkań</td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Pomoc prawnicza</td>
                        <td></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    <tr>
                        <td>Pomoc księgowa</td>
                        <td></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    <tr>
                        <td>Obsługa korespondencji</td>
                        <td></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    <tr>
                        <td>Pierwszeństwo rezerwacji sali</td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    <tr>
                        <td>Catering<br></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bg-info p-4">
    <div class="container">
        <div class="row">
            <div class="p-0 col-lg-4 col-md-6">
                <img class="img-fluid"
                     src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x450&amp;sensor=false&amp;scale=2">
            </div>
            <div class="col-md-5 align-self-center p-4 offset-md-1">
                <h4>ELSAFE Sp. z o.o.</h4>
                <p class="mb-4 text-primary">Aleja Tysiaclecia 6/4<br>Polska, Elbląg 82-300<br><u>+ 48&nbsp;</u>(123)
                    456-7890<br>NIP: 123-456-789-88</p>
                <div class="row text-center">
                    <div class="col-md-1 col-3" style="">
                        <a href="#" target="_blank"><i class="fa fa-facebook text-primary fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark py-3">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-4 col-md-6">
                <p class="text-secondary mb-0" contenteditable="true">Copyright - SWIETONE.</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <p class="text-secondary mb-0">2019 - ELSAFE Sp. z o.o.</p>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:include="template :: scripts_footer"/>
</html>
