<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<main role="main" class="container">
    <h2>Welcome to Security demo app!</h2>
</main>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>